::selection {
  background: $primary;
  color: $light;
}

.black {
  color: #000;
}

.gray {
  color: gray;
}

.primary {
  color: $primary;
}

.signature {
  font-family: "Parisienne";
  font-size: 1.5em;
}

.icon {
  width: 20px;
  height: 20px;
}

.image {
  width: fit-content;
  max-width: 90%;
  height: auto;
}

.skill-heading {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.github-repo-short {
  @extend .fs-5;
}

.github-repo-long {
  font-size: 1.1rem;
}

.markdown {
  p {
    margin: 0;
  }
  code {
    font-size: 0.8em;
    background-color: $code-bg-color;
    padding: 0.2em 0.4em;
    border-radius: 3px;
  }
}
