.signature {
  font-size: 1.5em;
}

.icon {
  width: 20px;
  height: 20px;
}

.image {
  width: fit-content;
  max-width: 90%;
  height: auto;
}

.skill-heading {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.markdown p {
  margin: 0;
}
